doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    //- link(href='/assets/style/style2.css', rel='stylesheet', type='text/css')
    link(href='/assets/style/login.css', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='https://unpkg.com/aos@next/dist/aos.css')
    link(href='https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400;500;600;700&family=Roboto:wght@300;400&display=swap', rel='stylesheet')
    title Document
  body
    .login-wrapper
      h1.login_title Log in
      .login_content
        .login_input-form
          .input-field
            input#email.form-control(placeholder='Enter email', type='email', name='email', required='', spellcheck='false')
          .input-field
            input#password.form-control(placeholder='Enter password', type='password', name='password', required='')
          #wrong-auth
      .login_buttons
        button.login_button(onclick='loginHandler();') LOG IN
        button(onclick='registerHandler();') SIGN UP

    script(src='/assets/javascript/login.js')
    link(href='https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400;500;600;700&family=Roboto:wght@300;400&display=swap', rel='stylesheet')
    title WorldRound | Login
      
