.card-content.white-text
  .input-form
    label.email Email
    
    .input-field
      input#email.form-control(placeholder='Введіть email' type='email' name='email' aria-label='Small' required='')
    label.password &Pcy;&acy;&rcy;&ocy;&lcy;&softcy;
    input#password.form-control(placeholder='Введіть пароль' type='password' name='password' aria-label='Small' required='')
  span#wrong-auth
.card-action
  button.btn.btn-primary.btn-sm(onclick='loginHandler();')
    | &Ucy;&vcy;&iukcy;&jcy;&tcy;&icy;
  button.btn.btn-primary.btn-sm(onclick='registerHandler();')
    | &Rcy;&iecy;&jukcy;&scy;&tcy;&rcy;&acy;&tscy;&iukcy;&yacy;

script(src='/assets/javascript/login.js')